body {margin:auto;;}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #cb6d3f;
  position:fixed;
  top: 0;
  width: 100%;
  font-style:normal;
}

.nav-items {
  float: left;
}

.nav-items a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-items:hover{
  background-color: black;
}

.nav-items a{
  font-size: 25px;
}

.form-container{
  background-color: #323232;
  width: 330px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: fixed;
  bottom: -200px;
  right: 0px;
  transition: .5s;
}

.form-container:hover{
  bottom: 0px;
}

#email{
  width: 50px;
  float: left;
}

.form-head-container{
  background-color: #000000;
  padding: 5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 10px;
}

.form-items{
  margin-left: 15px;
  color: white;
  padding-left: 8px;
}

#Subject{
  height: 100px;
  width: 100px;
}

#contact-us{
  color: white;
}

#submit_btn{
  background-color: #cb6d3f;
  border: none;
  color: white;
  padding: 7px 12px;
  margin: 9px 18px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
}

#caption-1{
  position: absolute;
  top: 40%;
  left: 25%;
  color: white;
  font-size: 6vw;
  align: center;
  animation-name: caption-fade;
  animation-duration: 2s;
}

@keyframes caption-fade {
  0% {opacity: 0; top: 0;}
  100% {opacity: 1; top: 40%;}
}

.featured-wrapper{
  position: relative;
  display: flex;
  overflow: auto;
  justify-content: space-around;
}

#product-container{
  text-align: center;
}


#AnimixPlay {
  border-color: rgb(0, 50, 50);
  width: 450px;
}

#AnimixPlay:hover {
  width: 750px;
  border-radius: 15px;
  border-color: #584bbe;
}

#youtube {
  border-color: rgb(0, 50, 50);
  width: 450px;
}

#youtube:hover {
  width: 750px;
  border-radius: 15px;
  border-color: #584bbe;
}

#Gmail {
  border-color: rgb(0, 50, 50);
  width: 450px;
}

#Gmail:hover {
  width: 750px;
  border-radius: 15px;
  border-color: #584bbe;
}

#solar {
  border-color: rgb(0, 50, 50);
  width: 450px;
}

#solar:hover {
  width: 750px;
  border-radius: 15px;
  border-color: #584bbe;
}

.headings {
  font-style: italic;
}

#button-container {
  background-color: white;
  position: relative;
  top:1;
  padding: 7;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}


#submit_btn:hover {
  background-color: black;
  color: orange;
}

input:focus {
  background-color: #584bbe;
}

.headings {
  border-style: solid;
}

#social-container {
  background-color: black;
  display: inline-block;
  position: fixed;
  right:0;
  bottom: 50%;
}
